.header{
  background-color: orange;
  color:white;
  
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 46vh;
}




.footer {
  flex-shrink: 0; /* Don't shrink footer */
  color: black;
  text-align: center;
  padding: 15px;
}
.card{
  width:18rem;

}
.card.text-center {
  margin-left: 45%;
    margin-top: 5%;
}
#abc{
  display: inline-block;
 margin-left: 50px;
 margin-top: 4px;
}
